tsv_submissions_ja: ["wabun-a",
  "wabun-b",
  "wabun-c",
  "wabun-d"]
tsv_submissions_en: ["trans-a",
  "trans-b",
  "trans-c",
  "trans-d"]
tsv_tran_ja: "tran_ja"
tsv_tran_en_ja: "tran_en_ja"
tsv_tran_en: "tran_en"
